*{
	box-sizing: border-box;
	margin:0px;
}

body{

	font-size:20px;
	color: white;
	background-color:#231F20;
	font-family: 'Raleway', sans-serif;
}

/*-------header-------*/
header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #231F20;

}

#page-title{
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	padding:15px 20px 15px 40px;
	margin-right: auto;
	color:white;
	transition: all 0.3s ease 0s;
}

#page-title:hover{
	color:#E85668;
}

.nav-bar ul{
	list-style-type: none;
	margin:0px;
	padding:10px;
	margin-right: 30px;
	border: 1px #E85668 solid;

}

#nav-list li  {
	font-family: 'Dancing Script', bold;
	display: inline-block;
	margin-left: 25px;
	color:white;
}
li a:visited{
	color:white;
	
}
#nav-list li a{
	text-decoration: none;
	transition: all 0.3s ease 0s;
	margin-right: auto;
	color:white;

}
#nav-list li a:hover, #nav-list li a.active{
	color:#E85668;
}


.checkbt{
	font-size:30px;
	color:white;
	float:right;
	display:none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	}

	.checkbt:hover, .checkbt:active{
		color:#E85668;
	}

	#check{
		display:none;
	}

	footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:5%;
	background-color: #231F20;
	text-align: center;
	opacity: 0.7;
	font-size: 1vw;
}



	/*end of header*/

	#main-page {
		position:relative;
	}

	#main-page img{
		width: 100%;
		height:100%;
		background-image: url(img/SzareZdj2.jpg);
		background-size: 100%;
	}

	.main-texts {
		display:flex;
		flex-direction: column;
		position: absolute;
		left:10%;
		top:20%;
		font-size: 1vw;
		width:30%;
		border: 1px #E85668 solid;
		border-spacing: 20px 20px;
		font-size: 1.3vw;
	}

	.main-texts div{
		margin:10px;
		background-color: #E85668;
		padding:15px;
	}


.main-text2 ol{
	padding-left: 15px;
}

@media (max-width:768px ){
		#page-title{
		font-size: 30px;
	}
	.nav-bar ul{
		position: absolute;
		z-index: 999;
		background-color: #E85668;
		top:68px;
		width:100%;
		margin-right: 0;
		text-align: center;
		font-weight: 500;
		left: -100%;
		transition: all .5s;
	}
	#nav-list li a:hover{
		color: pink;
	}

	.checkbt{
		display:block;
		color:white;
		margin-right: 40px;
	}

	#check:checked ~ .nav-bar ul{
	left:0;
	}
	#nav-list li a.active
	{
	color: pink;
	border-bottom: none;
	}
	#nav-list li{
	margin-left: 10px;
	font-size:20px;
	font-weight: 400;
	}

	#main-page {
	position: static;
	}
	.main-texts {
		display:flex;
		flex-direction: column;
		position: static;
		width:30%;
		border: none; 
		font-size: 3vw;
		width:100%;
		margin: 0;
	}
	.main-texts div{
		margin:0;
		margin-top: 10px;
	}

	}



