body{
	margin-right: 40%;
	margin-left: 20%;
	display:flex;
	flex-direction: column;
	}

a:link, a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	color: lightblue;
}

.accept{
	font-size:2vw;
	font-weight: 700;
	background-color: gray;
	padding: 10px;
	width:30%;
	float:right;
	text-align: center;
	font-family: 'Dancing Script', cursive;

}
.accept:hover{
	color:lightgreen;
}

.title{
	font-size: 50px;
	color:#D00;
	border-bottom: black solid 1px;
	font-family: 'Dancing Script', cursive;
	margin-top: 10%;
	margin-bottom: 10px;

}
 